---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
//Override css
html{

  font-size: 14px;
  @include breakpoint ($small){
    font-size: 14px;
  }
  @include breakpoint ($medium){
    font-size: 16px;
  }
  @include breakpoint ($large){
    font-size: 18px;
  }
  @include breakpoint ($x-large){
    font-size: 19px;
  }
}
blockquote{
  text-align: justify;
}
a{
  text-decoration: none;
}
* {box-sizing: border-box}

.site-title-persian {

  font-family:tahoma !important;
  font-weight:normal !important;

}
.link-with-acl {
  display: inline-flex; /* Align icon and text */
  align-items: center;
  text-decoration: none;
  font-size: 16px; /* Adjust text size */
}

.link-with-acl::before {
  content: '';
  display: inline-block;
  width: 16px; /* Size of your icon */
  height: 16px;
  background-image: url('https://joyebright.github.io/assets/images/acl.svg');
  background-size: contain; /* Ensures the icon fits within its size */
  background-repeat: no-repeat;
  margin-right: 2px; /* Space between icon and text */
  vertical-align: middle;
  margin-left: 1px;
}
